@import "tailwindcss";
.home {
  grid-area: home;
  background-color: #ff8da1;
}

.radio {
  grid-area: radio;
}

.motherdiv {
  display: grid;
  grid-template-areas:
    "home"
    "radio";
  grid-template-rows: 0.7fr 0.3fr;
  height: 100vh;
}
